// _header.scss

.navbar {
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
  }
  
  .navbar-brand {
    img {
      height: 100px;
    }
  }
  
  .navbar-nav {
    .nav-link {
      font-size: 18px;
      font-weight: bold;
      color: rgb(84, 7, 7) !important;
      transition: color 0.3s;
  
      &:hover {
        color: #007bff !important;
      }
    }
  }
  